name: Update Packagist

on:
  push:
    tags:
      - 'v*'

jobs:
  packagist:
    runs-on: ubuntu-latest
    
    steps:
    - name: Update Packagist
      run: |
        curl -XPOST -H'content-type:application/json' \
        'https://packagist.org/api/update-package?username=${{ env.PACKAGIST_USERNAME }}&apiToken=${{ env.PACKAGIST_API_TOKEN }}' \
        -d'{"repository":{"url":"https://packagist.org/packages/kontur/talk-sdk"}}'
    
    env:
      PACKAGIST_USERNAME: ${{ secrets.PACKAGIST_USERNAME }}
      PACKAGIST_API_TOKEN: ${{ secrets.PACKAGIST_API_TOKEN }} 