name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: json
        coverage: none
        tools: composer:v2
    
    - name: PHP Environment info
      run: |
        php -v
        php -m
        php -i | grep "json"
    
    - name: Validate composer.json
      run: composer validate --strict
      
    - name: Install dependencies
      run: composer install --prefer-dist --no-progress
      
    - name: Run phpcs
      run: vendor/bin/phpcs --standard=phpcs.xml.dist
      
    - name: Run phpstan
      run: vendor/bin/phpstan analyse
      
    - name: Run phpunit
      run: vendor/bin/phpunit --display-warnings --display-errors --display-notices --display-deprecations 